# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
env/

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Distribution / Packaging
dist/
build/
*.egg-info/

# IDEs
.vscode/
.idea/

# Logs
*.log
